*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;	
}

body {
    font-family: 'Open Sans',sans-serif;
}

nav {
    
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: fixed;
	position: -webkit-sticky;
	top: 0;
	background: #FFFFFF;
	z-index: 1;
	border-bottom: 1px solid #364f6b;
}

nav .menu a {
	font-size: 108%;
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 69px 0px 16px;
	text-decoration: none;
}

nav .menu a:hover {
	text-decoration: underline;
}

nav .menu .tombol-biru {
	background: #3f72af;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
}

nav .menu .tombol-biru:hover {
	background: #fc5185;
	text-decoration: none;
}

.wrapper {
	width: 1300px;
	margin: auto;
	position: relative;
}

.logo {
	padding-right: 54px;
	font-size: 50px;
	font-weight: 800;
	float: left;
	font-family: 'times new roman';
	color: #364f6b;	
}
