.search{
    padding-top: 130px;
    padding-bottom: 25px;
    padding-left: 30%;

}

.search input[type=text] {
    text-align: center;
    vertical-align: middle;
    padding: 6px 20%;
    font-size: 17px;
    border-color: rgb(211, 211, 211);
    border-radius: 4px;
  }
  
.search button{

    vertical-align: middle;
    padding: 8px 24px;
    margin-right: 16px;
    background: #ddd;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search button:hover {
    background: #ccc;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.row .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 23%;
    padding: 0 4px;
}
@media only screen and (max-width: 800px){
    .search{
        padding-left: 0%;
    }
}