
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 30px;
}

.gallery:hover {
	border: 1px solid #777;
}

.gallery img {
	width: 300px;
	height: 300px;
	object-fit:cover;
}
.judul {
	font-weight: 800;
	font-size: 25px;
	text-align: center;
	color: #364f6b;	
}

.desc {
	padding: 15px;
	text-align: left;
}
