
.topnav {
    background-image: url(assets/brooke-lark-wMzx2nBdeng-unsplash.jpg);
    background-size: 100%;
    overflow: auto;
    white-space: nowrap;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}


.topnav a.active {
    background-color: rgb(228, 228, 228);
    float: left;
}


.topnav .navtext a{
    color: aliceblue;
    display: inline-block;
    font-weight: bold;
    padding: 41px 5%;
    font-style: italic;
    font-size: 22px;
    text-decoration: none;
    
}


.topnav .navtext a:hover {
    background-color: rgba(245, 229, 175, 0.753);
    color: rgb(73, 73, 73);
}

